{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'haz.css' %}" type="text/css" rel="stylesheet">
    <title>Haz Lazuardi - Story 8</title>
</head>

<body>
    <h1>ABOUT ME</h1>
    <ul>
        {% for q in queryset %}
        <li><button class="accordion">{{ q.title }}            
            <a class='up' href='#'>up</a> <a class='down' href='#'>down</a>
        </button>
            <div class="panel">
                <p>{{ q.content|linebreaks }} </p>
            </div>
        </li>
        {% endfor %}

    </ul>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'haz.js' %}"></script>
</body>

</html>